* {
  font-family: 'Roboto', sans-serif;
}

body {
  background: url('diagonal-separator.png') repeat-x;
  background-color: #FFF;
  margin: 0;
  padding: 30px;
}

p {
  font-size: 1.4em;
  line-height: 1.3em;
  font-weight: 400;
  padding-top: 20px;
}

.container {
  max-width: 700px;
  padding-top: 40px;
}

#brand-logo {  
  width: 100%;
  max-width: 80px;
}

a {
  color: inherit;
}



